body{
    background-color: rgb(91, 70, 93);
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
    align-items: center;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;  
}
.bbg {
    border: 5px solid white;
    width: 100%;
  }
